body {
    padding-top: 50px;
    background-color: #f3f4f6;
    margin-top: 50px;
}

.theme-color {
	background-color: #14b7a6;
}

.horizontal-card {
    flex-direction: row;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card-img {
    object-fit: cover;
    height: 100%;
}

.rounded-pill {
    border-radius: 16px;
}

.text-grey {
    color: #cbccd0;
}

.center-svg {
    vertical-align: middle;
  }

.field-name {
    font-weight: bold;
}

form {
    background-color: white;
}